

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	color: black;
	background-color: white;
	text-align: left;
	font-family: futura;














